.App {
  text-align: center;
}

li{
  text-align: initial;
  list-style-type: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  font-size: 2rem;
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
form input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: white;
}
form button {
  color: white;
  background: #33db8d;
  cursor: pointer;
  transition: all 0.3s ease;
}
form button:hover {
  background: #ff6f47;
  color: white;
}

.App-header {
  background-image: linear-gradient(120deg, #65ecf6 0%, #174ad4 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: "Poppins", sans-serif;
}


.todo-list {
  min-width: 30%;
  list-style: none;
}
.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo-item {
  padding: 0rem 0.5rem;
}
.todo li {
  flex: 1;
}

.todo {
  margin: 0.5rem;
  background: white;
  font-size: 1.5rem;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease;
}


.fa-trash,
.fa-check {
  pointer-events: none;
}
.trash-btn {
  background:  white;
  color:#fc0000;
  border: none;
  padding: 1rem;
  margin: 1px;
  cursor: pointer;
  font-size: 1.5rem;
}
.trash-btn:hover{
  background:#fc0000 ;
  color: white;
}
.complete-btn{
  background-color: white;
  color: #33db8d;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1.5rem;
}
.complete-btn:hover {
  background: rgb(6, 241, 77);
  color: white;
}
.completed {
  text-decoration: line-through;
  opacity: 0.5;
}


/*CUSTOM SELECTOR */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-image: none;
}

/* Custom Select */
.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}
select {
  color: #f1356d;
  font-family: "Times New Roman", Georgia;
  font-size: 20px;
  cursor: pointer;
  width: 12rem;
}
.filter-todo {
  padding: 1rem;
}
/* Arrow */
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  background: #ff6f47;
  cursor: pointer;
  pointer-events: none;
}

/* =============================== */
.container {
  display: block;
  position: relative;
  padding-left: 50px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: -0.5rem;
  left: 1rem;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #ff008c;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}